@font-face {font-family: 'GTWalsheimPro-Regular';src: url('https://cdn.shopify.com/s/files/1/0588/4228/4186/files/GTWalsheimPro-Regular.woff?v=1669253354') format('woff');} 

*{
    margin: 0;
    padding: 0;
    font-family: 'GTWalsheimPro-Regular', sans-serif;
}

body {
    --var-sizing: 16px;

    height: calc(561px - var(--var-sizing)*2);
    width: calc(322px - var(--var-sizing)*2);

    padding: var(--var-sizing);
    /* padding-top: 0; */

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s ease;

    background: radial-gradient(190% 140% at -20% -20% , #D48DFF 0%, #5887FF 35%, #715AFF 70%, #E6978E 100%);
    /* background: radial-gradient(250% 100% at 90% 65%, #E6978E 0%, #715AFF 35%, #5887FF 70%, #D48DFF 100%); */
}

/* scroll wheel css =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(-45deg, #d98cf5,#2b20f8,#31a2fa); */
    background: linear-gradient(-45deg, #715AFF,#5887FF,#8DADFF);

    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
    /* background-image: url('https://assets.materialup.com/uploads/cde34f59-a45f-48d4-9699-3a686999b9dc/preview.gif'); */
    }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    opacity: 0.8;
}

/* ___________________________CSS UNIQUE TO THIS PAGE_______________________________________ */

section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border-style: dotted; */
}

h1{
    color: #fff;
    font-size: calc(var(--var-sizing) * 3);
    
    display: flex;

    user-select: none;
}

h1 div:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border-style: dotted; */
}

footer button{
    width: 85%;
    height: 40px;
    
    margin-bottom: calc(var(--var-sizing)/2);
    
    opacity: 0.5;
    backdrop-filter: blur(10px);
    
    border-radius: 20px;
    outline: none;
    border: none;

    transition: 0.5s ease;
    cursor: pointer;
}

footer button:hover{
    opacity: 1;
    transform: scale(1.05);
}

footer a{
    color: #fff;
    opacity: 0.5;
    transition: 0.5s ease;
}
footer a:hover{
    opacity: 1;
}