.test-menu{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    gap: 0.5rem;
    padding: 0.5rem;
    z-index: 1000;
}

.test-menu .move-around{
    height: 1.5rem;
    background-color: rgb(110, 135, 225);
}


.highlight-element{
    border: 7px solid rgb(110, 135, 225);
    border-radius: 1rem;

    position: fixed;
    z-index: 6969;
    cursor: crosshair;

}

.cropped-image-test{
    border-style: dotted;
    z-index: 1000;
}

.highlight-area{
    position: fixed;
    z-index: 6969;
    top: 0;
    left: 0;
    pointer-events: none;
}