.test-menu{
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    gap: 0.5rem;
    padding: 0.5rem;
    z-index: 1000;
}

.test-menu .move-around{
    height: 1.5rem;
    background-color: rgb(62, 131, 83);
}