@font-face {font-family: 'GTWalsheimPro-Regular';src: url('https://cdn.shopify.com/s/files/1/0588/4228/4186/files/GTWalsheimPro-Regular.woff?v=1669253354') format('woff');} 

*{
    margin: 0;
    padding: 0;
    font-family: 'GTWalsheimPro-Regular', sans-serif;
}

body {
    --var-sizing: 16px;

    height: calc(561px - var(--var-sizing)*2);
    width: calc(322px - var(--var-sizing)*2);

    padding: var(--var-sizing);
    /* padding-top: 0; */

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s ease;
}

/* scroll wheel css =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(-45deg, #d98cf5,#2b20f8,#31a2fa); */
    background: linear-gradient(-45deg, #715AFF,#5887FF,#8DADFF);

    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
    /* background-image: url('https://assets.materialup.com/uploads/cde34f59-a45f-48d4-9699-3a686999b9dc/preview.gif'); */
    }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    opacity: 0.8;
}


/* __________________________________________MENU_________________________________________ */

/* -=-=-=-=-=-=-Menu Button=--=-=-=-=-=-=-=-= */
.menu-button{
    position: absolute;
    top: 1rem;
    left: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    aspect-ratio: 1/1;
    height: 26px;

    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    z-index: 1000;

    backdrop-filter: blur(10px);
    border-radius: 10px;

}

.menu-button .menu-line{
    width: 33px;
    height: 6px;
    
    border-radius: 0.2rem;
    transition: 0.5s ease;
}

/* non active line */
.menu-button .menu-line:nth-child(1){background-color: #715AFF;}
.menu-button .menu-line:nth-child(2){background-color: #5887FF;}
.menu-button .menu-line:nth-child(3){background-color: #8DADFF;}

/* active line */
.menu-button.active .menu-line:nth-child(1){background-color: #fff; transform: translateY(10px) rotate(45deg);}
.menu-button.active .menu-line:nth-child(2){opacity: 0;}
.menu-button.active .menu-line:nth-child(3){background-color: #fff; transform: translateY(-10px) rotate(-45deg);}

/* -=-=-=-=-=-=-Menu=--=-=-=-=-=-=-=-= */
.menu {
    /* sends menu off screen */
    transform: translateX(-110%);

    position: absolute;
    z-index: 500;
    top:0;
    left:0;

    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    
    background: radial-gradient(250% 100% at 90% 65%, #D48DFF 0%, #5887FF 25%, #715AFF 50%, #E6978E 100%);
    
    /* grainy filter */
    /* filter: url(#grainy); */
    
    backdrop-filter: blur(10px);
    border-radius: 0 1.5rem 1.5rem 0;
    transition: 0.5s ease;

    /* padding-top: 1rem; */
}

.menu.active {
    transform: translateX(0%);
}

.menu #create-new-chat{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 3rem;
    border: none;
    
    aspect-ratio: 1/1;
    height: 43px;
    
    cursor: pointer;
    transition: 0.3s ease;
}

.menu #create-new-chat img{
    aspect-ratio: 1/1;
    width: 20px;
    transition: 0.5s ease;

    pointer-events: none;
}

/* MAIN menu sections (TOP and BOTTOM) */
.menu .menu-section{
    margin-top: 3.7rem;
    margin-left: 1rem;
    /* padding-top: 2.7rem; */

    width: calc(100% - 2rem);
    
    padding-right: 2.3rem;

    height: 80%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border-style: dotted; */

    overflow-y: auto;
    /* overflow-x: hidden; */
    /* overflow-x: visible; */

    -webkit-mask-image: linear-gradient(to bottom,black 95%,transparent 100%);
    mask-image: linear-gradient(to bottom,black 95%,transparent 100%);
}

.menu .menu-settings{
    height: 20%;
    width: calc(100% - 2rem);
    /* border-style: dotted; */
}

/* Menu sections (divided by timestamp) */
.menu .menu-section .menu-header{
    display: flex;
    flex-direction: column;
    color: #fff;

    display: none;
}

/* ____MENU ITEM_____ */
.menu .menu-section .menu-header .menu-item-timestamp{
    aspect-ratio: 1/1;
    height: 1rem;
    
    background-color: transparent;
    border: none;
    
    display: flex;
    align-items: center;
    transition: 0.3s ease;

    margin-bottom: 0.5rem;
}

.menu .menu-section .menu-header .menu-item-timestamp h3{
    color: #fff;
    font-size: 0.75rem;
    font-weight: 300;
    white-space: nowrap;
}

.menu .menu-section .menu-header .menu-item-timestamp .line{
    width:100%;
    height:2px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 0.5rem;
}

.menu .menu-section .menu-header .menu-items{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu .menu-section .menu-header .menu-items .menu-item{
    display: flex;
    align-items: center;
    
    transition: 0.3s ease;
    cursor: pointer;
    
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    
    position: relative;
}

.menu .menu-section .menu-header .menu-items .menu-item.active{
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: rgb(36, 36, 36);
}
.menu .menu-section .menu-header .menu-items .menu-item.active .chat-image{
    filter: invert(0);
}

.menu .menu-section .menu-header .menu-items .menu-item.active:hover{
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.menu .menu-section .menu-header .menu-items .menu-item p{
    font-size: 1rem;
    margin-left: 0.3rem;
    /* transition: 0.3s ease; */
    
    width: 80%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu .menu-section .menu-header .menu-items .menu-item p:focus{
    outline: none;
    border-radius: 0;
    /* linear gradient underline */
    background-image: linear-gradient(90deg, #715AFF 0%, #8DADFF 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;

}

.menu .menu-section .menu-header .menu-items .menu-item .chat-dots{
    position: absolute;
    right: 0;
    opacity: 0;
    
    aspect-ratio: 1/1;
    width: 1.2rem;
    
    
    border: none;
    background-color: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 1rem;
    margin: 0.2rem;
}

.menu .menu-section .menu-header .menu-items .menu-item .chat-dots img{
    aspect-ratio: 1/1;
    width: 0.8rem;
    transition: 0.3s ease;
}

.menu .menu-section .menu-header .menu-items .menu-item .chat-dots:hover{
    backdrop-filter: blur(5px);
    background-color: rgba(121, 121, 121, 0.271);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.menu .menu-section .menu-header .menu-items .menu-item .chat-image{
    aspect-ratio: 1/1;
    width: 1rem;
    /* margin: 0.4rem; */
    transition: 0.3s ease;

    filter: invert(1);
}

.menu .menu-section .menu-header .menu-items .menu-item:hover{
    background-color: #E7ECFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: rgb(36, 36, 36);
}

.menu .menu-section .menu-header .menu-items .menu-item:hover .chat-dots{opacity: 1;}
.menu .menu-section .menu-header .menu-items .menu-item:hover .chat-image{filter: invert(0);}

.menu .menu-section .menu-header .menu-items .menu-item .edit-menu{
    position: absolute;

    top: 0;
    right: -2rem;
    
    /* aspect-ratio: 4/9; */
    width: 1.6rem;

    padding: 0.2rem 0;

    opacity: 0;
    pointer-events: none;
    
    border-radius: 1rem;
    background-color: #DEDEDE;
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.2rem;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.menu .menu-section .menu-header .menu-items .menu-item .edit-menu.active{opacity: 1;pointer-events: all;}

.menu .menu-section .menu-header .menu-items .menu-item .edit-menu button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    
    width: 100%;
    height: 45%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    filter: grayscale(100%);
    opacity: 0.5;
}

.menu .menu-section .menu-header .menu-items .menu-item .edit-menu button img{
    aspect-ratio: 1/1;
    width: 1rem;
    margin: 0.2rem;
}

.menu .menu-section .menu-header .menu-items .menu-item .edit-menu button:hover{filter: grayscale(0%);opacity: 1;}

/* __________________________________________HEADER____________________________________________ */
/* this element was removed (who tf names their gpt chats? */
#chat-header{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    width: 100%;
    transition: 0.5s ease;

    height: 26px;
}

#chat-header.active{filter: blur(5px);}

/* __________________________________________BODY____________________________________________ */
#chat-body{
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: flex-start !important;

    /* padding:1rem; */

    padding-bottom: var(--var-sizing);
    padding-top: calc(var(--var-sizing)*2);

    height: 100%;
    width: 100%;

    color: #000;
    transition: 0.5s ease;

    /* border-style: dotted; */

    overflow-y: auto;
    overflow-x: hidden;

    font-size: var(--var-sizing);

    -webkit-mask-image: linear-gradient(to bottom,black 95%,transparent 100%);
    mask-image: linear-gradient(to bottom,black 95%,transparent 100%);
}

#chat-body.active{filter: blur(5px);}

#chat-body .empty-chat{
    color: rgb(160, 160, 160);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    white-space: nowrap;
}

#chat-body .user-chat{
    border-top: #8DADFF 1px solid;
    padding-top: var(--var-sizing);
}

#chat-body .message {
    width: 100%;
    /* border-style: dotted; */
    margin: calc(var(--var-sizing)/2) 0;

    display: flex;
    align-items: start;
    gap: calc(var(--var-sizing)/2);
}

#chat-body .message .pfp{
    aspect-ratio: 1/1;
    width: calc(var(--var-sizing)*2);
    user-select: none;
    pointer-events: none;
}

#chat-body .message p{
    margin-top: calc(var(--var-sizing)/4);

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(var(--var-sizing)/2);
}

#chat-body .message .chat-image{
    width: calc(100% - 8px) !important;
    max-height: 200px !important;
    aspect-ratio: auto !important;
    object-fit: contain;

    background: linear-gradient(45deg, #D48DFF 0%, #5887FF 25%, #715AFF 50%, #E6978E 100%);
    background-size: 400% 400%;
    animation: movingGradient 10s infinite linear;

    border-radius: 10px;
    cursor: pointer;

    overflow: hidden;
}
@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#chat-body .loading-gif{
    filter: grayscale(100%);
    aspect-ratio: 1/1;
    width: calc(var(--var-sizing)*2);
}

/* __________________________________________SEARCH____________________________________________ */
#chat-search{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 40px;
    width: 100%;
    
    background: linear-gradient(90deg, #715AFF 0%, #8DADFF 100%);
    border-radius: calc(var(--var-sizing)*2) !important;
    transition: 0.5s ease;
}

#chat-search .image-preview{
    height: calc(100% - 10px);
    margin-left: 5px;
    
    width: 80px;
    border-style: dotted !important;
    border-color: #fff !important;
    border-radius: 20px;
    
    background-color: black;
    /* overflow: hidden; */
    
    position: relative;
}

#chat-search .image-preview:hover .delete-button{
    opacity: 1;
}

#chat-search .image-preview .delete-button:hover{
    background-color: #FF0000;
    /* transform: scale(1.1) translate(40%, -40%); */
}
#chat-search .image-preview .delete-button:hover img{
    transform: scale(1);
}

#chat-search .image-preview .delete-button{
    all: initial;
    position: absolute;
    top: 0;
    right: 0;
    
    padding: 0 !important;
    
    transform: translate(40%, -40%);
    
    width: 13px !important;
    height: 13px !important;
    aspect-ratio: 1/1 !important;
    
    background-color: #a3a3a3;
    
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0;
}

#chat-search .image-preview .delete-button img{
    width: 5px;
    height: 5px;
}

#chat-search .image-preview img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#chat-search.active{filter: blur(5px);}

#chat-search input{
    padding: 0px 16px;
    
    background-color: transparent !important;
    border: none !important;
    outline: none !important;

    font-size: 16px !important;
    width: 100%;
    color: #fff !important;
}
#chat-search input::placeholder{
    color: #ececec;
}

#chat-search button{
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#chat-search button img{
    width: calc(var(--var-sizing)*3/2);
    height: calc(var(--var-sizing)*3/2);

    transition: 0.5s ease;
}

#chat-search button:hover img{
    transform: translateY(-0.3rem) scale(1.1);
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.5))
}
#chat-search button:active img{
    transform: scale(0.9);
}

/* -=-=-=-=-=-=-=-=-=-PREMIUM ITEMS-=-=-=-=-=-=-=-=-==--= */
#premium-items{
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    
    top: 0.75rem;
    /* right: 0.75rem; */
    right: 1rem;

    gap: 1rem;
    
    /* width: 43px; */
    
    background-color: transparent;
}

#premium-items button{
    /* radial gradient */
    background: radial-gradient(100% 100% at 0% 0%, #C071FF 0%, #8CC1FF 100%);
    background-position: 0% 50%;
    
    height: 2.5rem;
    aspect-ratio: 1/1;
    
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s ease;
}

#premium-items button.active{
    transform: scale(0.5);
}
#premium-items button.active:hover{transform: scale(0.5);}
#premium-items button.active img{
    opacity: 0;
}

#premium-items button img{
    aspect-ratio: 1/1;
    height: 50%;
    pointer-events: none;
    filter: invert(1);

    transition: 0.5s ease;
}

#premium-items button:hover{
    transform: translateY(-0.1rem) scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
    transition: 0.5s ease;
}
#premium-items button:hover img{
    animation: rock 1s infinite linear;
}

@keyframes rock {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    100% {transform: rotate(0deg);}
}
