@font-face {font-family: 'GTWalsheimPro-Regular';src: url('https://cdn.shopify.com/s/files/1/0588/4228/4186/files/GTWalsheimPro-Regular.woff?v=1669253354') format('woff');} 

*{
    margin: 0;
    padding: 0;
    font-family: 'GTWalsheimPro-Regular', sans-serif;
}

body {
    --var-sizing: 16px;

    height: calc(561px - var(--var-sizing)*2);
    width: calc(322px - var(--var-sizing)*2);

    padding: var(--var-sizing);
    /* padding-top: 0; */

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.5s ease;

    background: radial-gradient(190% 140% at -20% -20% , #D48DFF 0%, #5887FF 35%, #715AFF 70%, #E6978E 100%);
    /* background: radial-gradient(250% 100% at 90% 65%, #E6978E 0%, #715AFF 35%, #5887FF 70%, #D48DFF 100%); */
}

/* scroll wheel css =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(-45deg, #d98cf5,#2b20f8,#31a2fa); */
    background: linear-gradient(-45deg, #715AFF,#5887FF,#8DADFF);

    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
    /* background-image: url('https://assets.materialup.com/uploads/cde34f59-a45f-48d4-9699-3a686999b9dc/preview.gif'); */
    }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    opacity: 0.8;
}

/* ___________________________CSS UNIQUE TO THIS PAGE_______________________________________ */

section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border-style: dotted; */
    gap: calc(var(--var-sizing)*1.5);
}

#error-message{
    width: 90%;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #ff7f7f;
    /* background-color: #fff; */
    border-radius: 20px;
    
    /* opacity: 0.5; */
    
    transition: 0.5s ease;
}
#error-message.shake{
    animation: shake 0.5s ease;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

input{
    width: 85%;
    height: 40px;
    padding: 0 10px;
    
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    
    background: transparent;
    
    font-size: calc(var(--var-sizing)*1);
    
    transition: 0.5s ease;
    /* placeholder color*/
    color: #fff;
}

input::placeholder{
    color: #fff;
    opacity: 0.5;
}
input::-webkit-input-placeholder{
    color: #fff;
    opacity: 0.5;
}
input::-ms-input-placeholder{
    color: #fff;
    opacity: 0.5;
}


footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border-style: dotted; */
}

footer button{
    width: 85%;
    height: 40px;
    
    margin-bottom: calc(var(--var-sizing)/2);
    
    opacity: 0.5;
    backdrop-filter: blur(10px);
    
    border-radius: 20px;
    outline: none;
    border: none;
    
    transition: 0.5s ease;
    cursor: pointer;
}

footer button img{
    position: absolute;
    height: calc(var(--var-sizing)*1.5);

    right: var(--var-sizing);
    top: 50%;
    transform: translateY(-50%);
}

footer button:hover{
    opacity: 1;
    transform: scale(1.05);
}

footer a{
    color: #fff;
    opacity: 0.5;
    transition: 0.5s ease;
}
footer a:hover{
    opacity: 1;
}