@font-face {font-family: 'GTWalsheimPro-Regular';src: url('https://cdn.shopify.com/s/files/1/0588/4228/4186/files/GTWalsheimPro-Regular.woff?v=1669253354') format('woff');} 

*{
    margin: 0;
    padding: 0;
    font-family: 'GTWalsheimPro-Regular', sans-serif;
}

body {
    --var-sizing: 16px;

    --theme-color: #fff;
    --theme-text: #000;
    --theme-invert: 0;

    height: calc(561px - var(--var-sizing)*2);
    width: calc(322px - var(--var-sizing)*2);

    padding: var(--var-sizing);
    /* padding-top: 0; */

    background-color: var(--theme-color);
    color: var(--theme-text);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* scroll wheel css =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(-45deg, #d98cf5,#2b20f8,#31a2fa); */
    background: linear-gradient(-45deg, #715AFF,#5887FF,#8DADFF);

    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
    /* background-image: url('https://assets.materialup.com/uploads/cde34f59-a45f-48d4-9699-3a686999b9dc/preview.gif'); */
    }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    opacity: 0.8;
}

/* ___________________________CSS UNIQUE TO THIS PAGE_______________________________________ */

button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s ease;
}

button img{
    filter: invert(var(--theme-invert));
    transition: 0.5s ease;
}

button:hover img{
    transform: scale(1.1);
}

header{
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    gap: var(--var-sizing);

    /* margin-bottom: calc(var(--var-sizing)); */
}

h1{
    font-size: calc(var(--var-sizing)*1.5);
    font-weight: bold;
}

header button {
    width: calc(var(--var-sizing)*2);
    height: calc(var(--var-sizing)*2);
}
header button img{
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section h4{
    font-size: calc(var(--var-sizing));
    font-weight: bold;
    margin: calc(var(--var-sizing)*1.5) 0;
}

section .menu-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    width: 100%;

    gap: calc(var(--var-sizing)*1.5);
    
    transition: 0.5s ease;
}

section .menu-item .item{
    display: flex;
    justify-content: start;
    align-items: center;
    
    padding-left: calc(var(--var-sizing));

    /* margin-bottom: calc(var(--var-sizing)); */
    
    width: 100%;
    height: calc(var(--var-sizing)*2);

    border-radius: 20px;
    
    filter: opacity(1) grayscale(100%);
}

section .menu-item .item:hover{
    filter: opacity(1) grayscale(0%);
}


section .menu-item .item img{
    height: calc(var(--var-sizing)*1.75);
    margin-right: calc(var(--var-sizing));
}

section .menu-item .item .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

section .menu-item .item h3{
    font-size: calc(var(--var-sizing));
    font-weight: normal;
    color: var(--theme-text);
}

section .menu-item .item p{
    font-size: calc(var(--var-sizing));
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #D48DFF, #5887FF, #715AFF, #E6978E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#delete-chats {
    filter: grayscale(100%) opacity(1);
}

#logout{
    filter: opacity(0.5);
}

#logout h3 {color: #FF0000 !important;}
#delete-chats:hover h3 {color: #FF0000 !important;}

#logout img{filter: invert(0);}
#delete-chats img{filter: invert(0);} 

#delete-chats:hover {filter: grayscale(0%)}
#logout:hover{filter: opacity(1);}